
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #ffffff;
}

h2, h3 {
    color: #333;
}

#header {
    background: url('/assets/built/images/blog-cover2.jpg') no-repeat center center/cover;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    min-width: 1000px;
}

nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

nav h1 {
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #ffffff;
    color: #333;
}

main {
    margin: 0 auto;
    min-width: 1000px;
}

.section-title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}


section {
    margin: 40px auto;
    padding: 50px 0;
    border: 1px solid #ccc;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

#about-me {
    margin-bottom: 2rem; /* 섹션과 다음 섹션 사이의 간격 */
}

#about-me h2 {
    margin-bottom: 3rem;
}


.personal-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

.info-item {
    flex-basis: calc(33.33% - 20px);
    margin: 10px 10px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: center;  /* 이 부분을 추가 */
    box-sizing: border-box;
}


.info-item img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.category {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.content {
    width: 200px;
    font-size: 1rem;
}

#skills {
    background-color: #ffe0e0;
}

/* Skill Bar styling */
.skill-container {
    position: relative;
}


.skill-level {
    width: 0; /* 초기 너비를 0으로 설정 */
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #7777e3;
    font-size: 18px;
    text-align: right;
    line-height: 30px;
    color: white;
    padding-right: 10px;
    border-radius: 15px 0 0 15px;
    transition: width 2s ease-out; /* width 변화에 애니메이션 적용 */

}

/* Skill Row and Skill Bar styling */
.skill-row {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skill-container {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.skill-bar {
    width: 230px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
}

.skill-container img {
    width: 100px;
    height: 100px;
}

/* DETAILED SKILLS CSS */
.detailed-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* 또는 space-between, center 등을 사용할 수 있습니다. */
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.skill-category {
    flex-basis: calc(33.33% - 20px); /* 3개의 카테고리가 한 줄에 올 수 있도록 33.33%를 사용하고, 20px은 간격을 위한 값입니다. */
    margin: 10px;
    box-sizing: border-box;
    padding: 0 30px;
}

.skill-category-title {
    text-align: center; /* 제목을 중앙에 배치 */
    margin-bottom: 10px; /* 제목 아래에 간격을 줍니다. */
    border-bottom: 1px solid #c9c9c9;
}
.skill-category-title h4 {
    padding: 0;
    margin: 10px 0;
    font-size: 24px;
    color: #194d88;
    font-weight: bold;
}


.skill-category-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 로고들 사이의 공간을 균등하게 나눕니다. */
}

.skill-category-logos img {
    width: calc(33.33% - 10px); /* 한 줄에 3개의 로고가 들어갈 수 있도록 너비를 설정합니다. 10px는 약간의 간격을 위한 값입니다. */
    margin-bottom: 10px; /* 로고 아래에 약간의 간격을 추가합니다. */
}


/* Logo styling */
#logos {
    margin-top: 20px;
    text-align: center;
}

#logos img {
    width: 100px;  /* 크기를 50px에서 100px로 변경 */
    height: 100px;  /* 크기를 50px에서 100px로 변경 */
    margin: 10px;
    transition: transform 0.3s ease;
}

#logos img:hover {
    transform: scale(1.1);
}



/* Portfolio styling */
#portfolio {
    min-width: 100%;
    /*padding: 20px;*/
    margin: 0;
    border-radius: 0;
    background-color: rgba(214, 183, 246, 0.62);
}

#portfolio h2 {
    margin:20px 0 30px;
}


.project {
    max-width: 1000px;
    margin: 0 auto 20px;
    display: flex;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 25px;
}

/* slider */
.simple-slider {
    position: relative;
    width: 500px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%; /* 원하는 크기로 변경 */
    height: 90%; /* 원하는 크기로 변경 */
    transition: transform 0.3s;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-controls {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-btn, .next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #000000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    /*padding: 2px 10px;*/
    margin: 0 15px;
    /*border-radius: 50%;*/
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    transition: background-color 0.3s;
}

.prev-btn:hover, .next-btn:active {
    color: #ef5959;
    /*background-color: rgba(0, 0, 0, 0.8);*/
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* project 정보 */
.project-info {
    display: flex;
    width: 100%;
    font-size: 18px;
    flex-direction: column;
    justify-content: space-between; /* 설명 내용들 사이의 간격을 동일하게 설정 */
    background-color: #f3f3f3;
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 25px;
    margin-left: 50px;
}

.project-info .project-title h3 {
    font-size: 36px;
    margin: 0;
}

.project-info .project-title p {
    font-size: 18px;
}
.project-info .description {
    /*height: 300px;*/
}
.project-info .description p {
    text-align: start;
    line-height: 32px;
}


.project-info .project-descriptions {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.project-info .project-descriptions div.content-label {
    width: 200px;
    height: 100%;
    /*background-color: #0e16ce;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.project-info .project-descriptions div.content-label img {
    width: 25px;
    height: 25px;
}


.project-info .project-descriptions .content {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.project-info .project-descriptions .content.part,
.project-info .project-descriptions .content.skills
{
    display: block;
}


.project-info .project-descriptions .content a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 20px;
    background-color: #3ecce5;
    color: #ffffff;
}

.project-info .project-descriptions .content a:hover {
    /*font-weight: bold;*/
    background-color: #659df1;
}

.project-info .project-descriptions .content a:visited {
    color: #ffffff;
}

.project-info .project-descriptions .content a.github-link {
    background-color: #343738;
}

.project-info .project-descriptions .content a.github-link:hover {
    background-color: #808080;
}


.project-info .project-descriptions .content p {
    margin: 0;
    padding: 0;
}

.project-info .project-descriptions .content.skills a {
    background-color: #72b956;
    cursor: pointer;
}

.project-info .project-descriptions .content.skills a:hover {
    background-color: #548c3b;
}

/* Contact Section */
#contact {
    text-align: center;
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}


/* footer */
#footer {
    min-width: 1000px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.footer-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;;
}


.social-icons img:hover {
    transform: scale(1.1);
}

/* Scroll 버튼 */
.scroll-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 24px;
    cursor: pointer;
    background-color: #f67676;
    color: white;
    border: none;
    border-radius: 99px;
    z-index: 1000;  /* To make sure it appears above all other elements */
}